$width-content: 1366px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: $width-content;
  margin: 0 auto;
}
.content-title {
  color: #43a047;
  letter-spacing: 0.18rem;
}
.content-h1 {
  color: #212121;
  font-size: 6.2rem;
  font-weight: 100;
  line-height: 7.2rem;
  text-transform: uppercase;
}
.content-text {
  color: #6c6c6c;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;
}
.content-button {
}
