.trending_size {
  width: 1366px;
  height: 1108px;
}
.products {
}
.trending__products {
  width: 1171px;
  height: 867px;
  margin: 119px 97px 120px 98px;
}
.products__head {
  display: flex;
  justify-content: space-between;
}
.products__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}
.products__button {
}
.products__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  height: 770px;
  margin-top: 64px;
}
.product_size {
  width: 370px;
  height: 370px;
}
.product__img {
  width: 370px;
  height: 370px;
}
